<div class="card container p-3 my-3" style="min-height: 600px;">
    <h2 class="text-center">Invita a quien quieres compartir tu pizarra</h2>
    <div class="row my-3 mx-3">
        <form id="compartirForm" action="/salas/compartir/{{idSala}}" method="POST">
            <div class="card-deck my-3">
                {{#each users}}
                <div class="col-md-4 my-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase">
                                {{username}}
                            </h3>
                            <p class="m-3 card-subtitle text-muted">{{correo}}</p>
                            <input type="hidden" class="form-control" name="idUsuario" value="{{id}}">
                            <button type="button" class="btn btn-warning btn-block mt-3" onclick="compartirConUsuario('{{id}}', '{{username}}')">Invitar</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </form>

        {{#each users}}
        <!-- Resto del código para mostrar usuarios -->
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay ninguna sala para este usuario.</p>
                    <a href="/salas/add">Crea Uno!</a>
                </div>
            </div>
        <!-- Manejo de caso cuando no hay usuarios -->
        {{/each}}
    </div>
</div>

<script>
    function compartirConUsuario(userId, username) {
        // Puedes implementar la lógica de compartir aquí según tus necesidades
        document.getElementById('compartirForm').action = `/salas/compartir/{{idSala}}/${userId}`;
        document.getElementById('compartirForm').submit();
    }
</script>

